# Ignore all node_modules folders in any subdirectory
**/node_modules/

# Ignore logs and environment files
*.log
.env

# Build directories
dist/
build/
.next/
.cache/
out/

# OS-specific files
.DS_Store
Thumbs.db
